body {
    background-color: #e1d3f2;
}

.main-box {
    margin: 5%;
    width: 390px;
    border: 2px solid #7e58a8;
    min-height: 500px;
    border-radius: 25px;
    background-color: #7e58a8;
    box-shadow: 0px 0px 17px 5px #7e58a8;
  }
  .display-part {
    /* border-bottom: 1px solid black; */
    height: 140px;
    background-color: #7e58a8;
  }
  
  .display {
    border: 1px solid black;
    width: 350px;
    height: 130px;
    margin: 20px;
    margin-bottom: 0;
    border-radius: 15px;
    background-color: rgb(144, 218, 247);
    color: #1F0611;
    text-align: center;
  }

  .rez {
      text-align: center;
      padding-top: 10%;
  }

  .res {
    border-top-left-radius: 15px;
    width: 348px;
    height: 45px;
    border: none;
    background-color: rgb(144, 218, 247);
    border-top-right-radius: 15px;
    border-bottom: 1px solid black;
    font-size: 20px;
    text-align: right;
  }

  .res-in {
    border-bottom-left-radius: 15px;
    width: 348px;
    height: 80px;
    border: none;
    background-color: rgb(144, 218, 247);
    border-bottom-right-radius: 15px;
    font-size: 50px;
    text-align: right;
  }
  
  .numbers_and_operators {
    margin: 10px;
    margin-top: 0px;
  /*  border: 1px solid black; */
    width: 380px;
    height: 350px;
    background-color: #7e58a8;
    border-radius: 15px;
  }
  
  .button {
    width: 70px;
    height: 50px;
    border: 1px solid black;
    margin: 10px;
    display: inline-block;
    border-radius: 12px;
    background-color: #1F0611;
    /* color: rgb(17, 3, 9); */
    color: #38ADDC;
    font-size: 20px;
    font-weight: bold;
    
  }

.button:hover {background-color: #740C39}

.button:active {
    transform: translateY(1px);
}

  
  /* .tipkica {
    width: 70px;
    height: 50px;
    border: 1px solid black;
    margin: 10px;
  } */